<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <% this_url = "http://propertywebbuilder.com#{current_resource.url}" %>
    <% description = data.site.description %>
    <%# description = "PropertyWebBuilder" %>
    <% site_name = "PropertyWebBuilder" %>
    <% title = current_page.data.title || "PropertyWebBuilder" %>
    <title><%= title %></title>
    <meta itemprop="canonical" href="<%= this_url %>" />
    <meta itemprop="name" content="<%= title %>" />
    <meta itemprop="url" content="<%= this_url %>" />
    <meta itemprop="about" content="<%= description %>" />
    <meta itemprop="description" content="<%= description %>" />
    <!-- Open Graph -->
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="<%= this_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="http://propertywebbuilder.com/images/pwb_logo_full.svg" />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@prptywebbuilder" />
    <meta name="twitter:creator" content="@prptywebbuilder" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="http://propertywebbuilder.com/images/pwb_logo_full.svg" />
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :main %>
    <!--[if lte IE 8]><script src="/javascripts/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/stylesheets/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/stylesheets/ie8.css" /><![endif]-->
    <%# javascript_include_tag :all %>
  </head>
  <body class="landing <%= page_classes %>">
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <h1 id="logo"><a href="index.html">
            <img class="pwb-logo" src="/images/pwb_logo_full.svg" alt="Home">
          </a></h1>
        <nav id="nav" class="contenedor_idiomas" >
          <div class="idiomas" style="display: none;">
            <% [].each do |language| %>
              <li class=<%="#{'selected' if locale.to_s == language}" %>>
                <% link_to "/#{language}", class: language do %>
                  <span class="hide"><%= I18n.t(language) %></span>
                <% end %>
              </li>
            <% end %>
          </div>
          <ul>
            <li><a href="https://heroku.com/deploy?template=https://github.com/etewiah/pwb-for-heroku" class="button special">Create Your Free Website</a></li>
          </ul>
        </nav>
      </header>
      <%= yield %>
      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="https://twitter.com/prptywebbuilder" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/propertywebbuilder" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.linkedin.com/company/propertywebbuilder" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <!-- <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li> -->
          <li><a href="https://github.com/etewiah/property_web_builder" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
          <!-- <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li> -->
        </ul>
        <ul class="copyright">
          <li>&copy; PropertyWebBuilder. All rights reserved.</li>
          <li>Logo: <a href="https://github.com/shun-yoshida">Shun Yoshida</a></li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.scrolly.min.js"></script>
    <script src="/javascripts/jquery.dropotron.min.js"></script>
    <script src="/javascripts/jquery.scrollex.min.js"></script>
    <script src="/javascripts/skel.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <!--[if lte IE 8]><script src="/javascripts/ie/respond.min.js"></script><![endif]-->
    <script src="/javascripts/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-81180030-1', 'auto');
          ga('send', 'pageview');
    </script>
  </body>
</html>